.chocolate{
    &-s1{
        background-position: center!important;
    }
}
.contact{
    &-s1,&-s2{
        background-position: center!important;
    }
}
.index{
    &-s1{
        background-position: center!important;
    }
}
.login{
    &-s1{
        background-position: right!important;
    }
}
.house{
    &-s2{
        background-position: right!important;
    }
}
header{
    z-index: 100;
}
textarea{
    resize:none;
}

@media all and (max-width: 767px){
    .chocolate{
        &-s1{
            background-color:#aaa!important;
            background-blend-mode: multiply;
        }
    }
    .contact{
        &-s1,&-s2,&-s3{
            background-color:#aaa!important;
            background-blend-mode: multiply;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1{
            background-color:#aaa!important;
            background-blend-mode: multiply;
            background-position: right!important;
        }
    }
    .house{
        &-s1,&-s2{
            background-color:#aaa!important;
            background-blend-mode: multiply;
        }
    }
    .navbar{
        &-toggler{
            border: 1px solid #3bcaf0!important;
        }
        &-nav{
            background-color: #333;
            border: 1px solid #666;
            opacity:0.8;
            padding-right:10px;
        }
    }
}
